<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How's That Pokemon</title> <link rel="stylesheet" href="css/game.css"><script src="https://cdn.jsdelivr.net/npm/vue@2"></script><script type="module" src="js/game.js" defer></script>
    
</head>
<body>
    <div id="app">
        <div :class="{'poke-classic': classic}" class="container">
            <transition name="animate-section">
                <section v-if="!isPlaying && !isDone" class="poke-section">
                    <h2>What type of trainer are you?</h2>
                    <div class="poke-intro-trainer">
                        <div class="poke-ball"></div>
                        <img :class="{active: trainerHovered === 'classic'}" class="poke-trainer-img poke-trainer-img-classic" src="https://raw.githubusercontent.com/tiffachoo/pokesprites/master/trainers/red-rb.png" alt="Trainer red">
                        <img :class="{active: trainerHovered === 'master'}" class="poke-trainer-img poke-trainer-img-master" src="https://raw.githubusercontent.com/tiffachoo/pokesprites/master/trainers/red-sm.png" alt="Trainer red again">
                    </div>
                    <button class="button spacer" @click="startGame(151)" @mouseover="trainerHover('classic')" @mouseout="trainerHover">
                        Classic
                    </button>
                    <button class="button" @click="startGame(0)" @mouseover="trainerHover('master')" @mouseout="trainerHover">
                        Master
                    </button>
                </section>
            </transition>
    
            <transition name="animate-section">
                <section v-if="isPlaying" class="poke-section">
                    <h1 class="poke-title">
                        Who's that pokemon?
                    </h1>
                    <div class="poke-question-wrapper">
                        <span class="poke-question">
                            <span class="poke-question-number">
                                {{ question }}
                            </span>
                            <span class="poke-question-amount">
                                / {{ questionAmount}}
                            </span>
                        </span>
                        <span class="poke-score">
                            {{ score }}
                            <small>pts</small>
                        </span>
                        <div class="poke-image" :class="{'poke-image-success': isChecked && selected.name === answer.name, 'poke-image-error': isChecked && selected.name !== answer.name}">
                            <img :src="image" alt="No cheating" class="poke-image-img">
                        </div>
                        <transition-group tag="div" name="animate-options" :class="{'poke-options-answers': isChecked}" class="poke-options">
                            <button v-for="(pokemon, index) in options" :key="pokemon.name" :data-index="index" :class="{'selected': selected.index === index, 'success': isChecked && pokemon.name === answer.name , 'error': isChecked && selected.index === index && selected.name !== answer.name}" class="poke-options-button" @click="selectAnswer(pokemon.name, index)">{{ pokemon.name | prettifyName }}</button>
                        </transition-group>
                        <footer class="poke-buttons">
                            <button :disabled="isChecked || Object.keys(selected).length < 1" class="button" @click="checkAnswer">Submit</button>
                            <button :disabled="!isChecked" class="button" @click="getNextQuestion">Next</button>
                        </footer>
                    </div>
                </section>
            </transition>
    
            <transition name="animate-section">
                <section v-if="isDone" class="poke-final">
                    <h2>Final score</h2>
                    <span class="poke-final-score">
                        <span class="poke-final-score-number">{{ score }}</span>
                        pts
                    </span>
                    <button class="button" @click="restartGame">Play again</button>
                </section>
            </transition>
        </div>
    </div>
</body>
</html>